body {
  font-family: "Kanit";
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.window {
  position: relative;
  border: white solid 5px;
  background-color: white;
  overflow: hidden;
}

.top-right {
  position: absolute;
  top:20px;
  right:2px;
  color:white;
  background-color: rgba(0,0,0,0.5);
}



.bottom-left {
  position: absolute;
  bottom:5px;
  left:2px;
  color:white;
  background-color: rgba(0,0,0,0.5);
  z-index:2;
}

.window img{
  border-radius: 5px;
  width: 100%;
  height: auto;
}

.window::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  z-index: 1; 
}